@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  font-family: 'Poppins',sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
}
body {
  margin: 0;
  background-image: radial-gradient(49% 81% at 45% 47%, #0E70C445 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #0D0D0DFF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #1F358AFF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #2E477DFF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #18181DFF 0%, #FF0000FF 100%);
}
.header {
  overflow: hidden;
  background-color: lightblue;
  padding: 10px 20px;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
.header a:hover {
  background-color: #f1f1f1;
  color: lightcoral;
}
.header a.active {
  background-color: lightcoral;
  color: white;
}
.header-right {
  display: inline-block;
  margin-top: 45px;
}
.section-title{
  text-align: center;
}
.shop-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,auto));
  gap: 1.5rem;
  padding: 10px;
}
.produto1{
  position: relative;
}
.produto1:hover{
  padding: 10px;
  border: 1px solid var(--text-color);
  gap: 1.5rem;
}
.product-title{
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: left;
 -webkit-text-stroke: #D80286;
 -webkit-text-stroke-width: 0.5px;
}
.product-box{
  position: relative;
}
.product-box{
  padding: 10px;
}
.product-img{
  width: 103%;
  height: 65%;
  margin-bottom: 0.5rem;
  border: solid #D80286;
}
.button_slide1 {
  color:#D80286;
  background-color: #000000;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 10px 12px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.8s;
  -moz-transition: ease-out 0.8s;
  transition: ease-out 0.8s;
  position: absolute;
  bottom: 0;
  right: 0;
}
.slide_left:hover {
  box-shadow: inset 0 0 0 50px #000000;
}
